<html>
<body>

Hello ${userName},<p/>
 
Your account has been deleted successfully with email id ${email}.<p/>
 
This is a just for your information. Please contact to support team if you didn't create this account.<p/>
 
Thanks,
 
Team Neova.
 
</body>
</html>